.dutch-tip-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: normal;
  background-color: #343a40!important;

    color: white;
}
.dutch-tip-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: normal;
    background-color: black;
    color: white;
}
.tip-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: #343a40!important;
}
.tip-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: black;
    color: white;
  
}

.dictonary-definitions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: normal;
  background-color: #343a40!important;

    color: white;
}
.dictonary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: normal;
  background-color: #343a40!important;

    color: white;
}

.dictonary-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: normal;
  background-color: #343a40!important;

    color: white;
}