<header class="text-center bg-dark">
<div class="dropdown show bg-dark text-right">
  <a class="btn btn-dark text-success dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Other Pages
  </a>


  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/">Dictionary</a>
    <a class="dropdown-item" href="/supes">SUPERHERO</a>
    <a class="dropdown-item" href="/omdb">Movie Database</a>
    
  </div>
</div>

    <div class="bg-dark text-success">I Need Random . c o m </div>
    <div class="bg-dark text-right">
    </div>
    
    

<br>
</header>