<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-dark text-center">  


   <div >
<form class="dictionary-form" action="">
       <input class="text-center border-danger border-5rem bg-secondary bg-light w-50" type="text" name=""  placeholder="Type Antonyms Here" id="antonymSearchInput">
       <button class="button btn-danger w-50" id="antonymSearch"> SEARCH Antonyms</button>
       
       <input class="text-center border-primary border-5rem bg-secondary bg-light w-50" type="text" name="" placeholder="Type Synonyms Here" id="synonymSearchInput">
       <button class="button btn-primary w-50" id="synonymSearch"> SEARCH Synonyms</button>
  
   </form>
  
   </div>



<div class="dictonary-definitions-container" >
<div id="definitionsDiv" class="card bg-dark justify-center" style="width: 18rem;">
  <div class="card-body">
    <h3 class="bg-dark text-light" style="width: 15rem;" id="definitionsHeader">...</h3>
    <ol id="definitionsList">
        
    </ol>
    </div>
</div>
</div>

<div class="dictonary-definitions-container" >
<div id="resultsDiv" class="card bg-dark" style="width: 18rem;">
  <div class="card-body">
    <h3 class="bg-dark text-light justify-left " style="width: 15rem;" id="resultsHeader">...</h3>
    <ol id="resultsList">
    </ol>
    </div>
</div>

</div>










   
</body>
</html>