<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-dark ">
<details  class="bg-dark text-success text-center border border-success">
<summary id="movieDiv"></summary>
<details>
    <summary>Actors</summary>

<div id="actorsDiv"></div>    
</details>   

<details>
    <summary>BOX OFFICE</summary>
    <div id="boxOfficeDiv"></div>    
</details>
<details>
    <summary>COUNTRY</summary>
    
    <div id="countryDiv"></div>
</details>
<details>
    <summary>DVD</summary>
    <div id="dvdDiv"></div>
</details>
<details>
    <summary>DIRECTOR</summary>
    <div id="directorDiv"></div>
</details>
<details>
    <summary>GENRE</summary>
    <div id="genreDiv"></div>     
</details>
<details>
    <summary>LANGUAGE</summary>
    <div id="languageDiv"></div>
</details>
<details>
    <summary>PLOT</summary>
    <div id="plotDiv"></div>
</details>

<details>
    <summary>PRODUCTION</summary>
    <div id="productionDiv"></div> 
</details>
<details>   
    RATING
    <div id="ratingDiv"></div>
</details>

</details>


 
   <br>
   <form id="omdbSubmitForm">
       <input type="text" id="omdbInput">
    <button>Movie Search</button>
</form>
</body>
</html>