<body class="bg-dark text-primary text-center">

   
     <div>
           
             <form action="" id="randomHeroSubmitForm">
<br>
            <button class="btn btn-primary text-light border border-success m-3 py-3">CLICK FOR A RANDOM HERO OR VILLAIN</button>
            </form>
            <p id="randomHero"></p>
            <h1 id="heroName"></h1>


<br>

   <details>
       <summary>Appearance</summary>
     <div id="heroAppearance"></div>
   </details>

   <details>
    <summary>Biography</summary>

  <p id="heroBiography"></p>
</details>

<details>
    <summary>Connections</summary>

  <p id="heroConnections"></p>
</details>

<details>
    <summary>Power Stats</summary>

  <p id="heroPowerStats"></p>
</details>

<details>
 <summary>Work</summary>

<p id="heroWork"></p>
</details>
 <div class="text-center" id="testDiv">
        <img id="heroImage" class="w-25 h-25" src="" alt="">
    </div>
</body>