<body  >





<div class='dutch-tip-container'>
    
<div  class="card " style="width: 15rem; background-color: black;">
  <div  class="card-body">
    <h5 id="dutchResultsTitle"class="card-title text-center">Dutch Tip Calculator</h5>
<div id="dutchResults" class="card-text">

</div>
 <form class='dutch-tip-form' id="tipForm">
Bill 
       <input id='billInput' type="nu0mber">
       Tip (EX; 10, 20, 30)
       <input id="tipInput" type="number">
       How many are paying?
       <input id="splitInput" type="number">
       <button class="btn btn-dark">Calculate The Dutch Tip</button>
   </form>
  </div>
</div>


  
</div>



<div class="tip-form-container">

<div class="card " style="width: 15rem; background-color: black;">

  <div class="card-body">
    <h5 id="frugalResultsTitle" class="card-title">Single Tip Calculator</h5>
<div id="frugalResults" class="card-text">

</div>
 <form class='tip-form' id="tipForm2">

      bill
       <input id='billInput2' type="number">
       tip
       <input id="tipInput2" type="number">
       <button class="btn btn-dark">Single Tip</button>
   </form>
  </div>
</div>

</div>




  
</body>