<body class="bg-secondary" >
<div class='dutch-tip-container'>
    
<div  class="card bg-secondary" style="width: 15rem;">
  <div  class="card-body">
    <h5 id="dutchResultsTitle"class="card-title text-center">Dutch Tip Calculator</h5>
<div id="dutchResults" class="card-text">

</div>
  </div>
</div>


   <form class='dutch-tip-container' id="tipForm">
bill
       <input id='billInput' type="number">
       tip
       <input id="tipInput" type="number">
       split
       <input id="splitInput" type="number">
       <button>tip button 1</button>
   </form>
</div>



<div class="tip-form-container">

<div class="card bg-secondary" style="width: 15rem;">

  <div class="card-body">
    <h5 id="frugalResultsTitle" class="card-title">Single Tip Calculator</h5>
<div id="frugalResults" class="card-text">

</div>
  </div>
</div>
 <form class='tip-form-container' id="tipForm2">

      bill
       <input id='billInput2' type="number">
       tip
       <input id="tipInput2" type="number">
       <button>tip button 2</button>
   </form>
</div>




  
</body>